doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='theme-color', content='#283747')
  link(
    rel='shortcut icon',
    href='assets/img/logo-removebg-preview.png',
    type='image/x-icon'
  )
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(
    href='https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap',
    rel='stylesheet'
  )
  link(
    href='https://fonts.googleapis.com/css2?family=Comforter&display=swap',
    rel='stylesheet'
  )
  script(
    src='https://kit.fontawesome.com/af9e9eb709.js',
    crossorigin='anonymous'
  )
  link(rel='stylesheet', href='assets/css/styles.css')
  title Megoc - Gospel
include components/nav
main
  section#carrousel
    h1 Siente la pasi&oacute;n
  section#quienes_somos
    h1 Megoc
    h4 Modern espai gospel cor
    section#quienes_somos_video_description
      article#quienes_somos_video
        iframe#yt_video(
          src='https://www.youtube.com/embed/nxzV-EhHo-k',
          title='YouTube video player',
          frameborder='0',
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture',
          allowfullscreen=''
        )
      article#description
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin consectetur elit.
          | Nulla facilisi. Nulla eget turpis id tellus rhoncus sollicitudin vitae in turpis. Nam sodales aliquam mauris,
          | nec pharetra lacus luctus quis. Maecenas quis pretium augue, a posuere nisi. Phasellus bibendum dignissim enim, vitae pretium massa consequat non. Nulla cursus euismod quam et euismod. Duis quis velit vulputate lorem ultrices sollicitudin a ut est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce a lobortis odio, at feugiat metus. Fusce at ante facilisis, interdum massa non,
          | tristique purus. Pellentesque scelerisque velit non accumsan aliquet.
          | Mauris porttitor ante arcu, sed mattis magna sodales a.
include components/footer
script.
  let header = document.querySelector('header');
  let menu_icon = document.querySelector('.icon_menu');
  let mobile_menu = document.querySelector('.mobile_menu');
  document.addEventListener('scroll', (e) => {
    const scrollPos = window.scrollY;
    if (scrollPos > 50) {
      header.classList.add('bg_header');
      menu_icon.classList.add('change_iconMenu_color');
    } else {
      header.classList.remove('bg_header');
      menu_icon.classList.remove('change_iconMenu_color');
    }
  });
  menu_icon.addEventListener('click', (e) => {
    mobile_menu.classList.toggle('appear');
    if (!header.classList.contains('bg_header')) {
      menu_icon.classList.toggle('change_iconMenu_color');
    }
  });
